<section class="section">
  <div class="page-width">
    <div class="contact-form">
      {%- form 'contact', id: 'ContactForm' -%}
        {%- if form.posted_successfully? -%}
          <p style="color: #8f8; margin-bottom: 2rem;">{{ 'templates.contact.form.post_success' | t }}</p>
        {%- endif -%}

        <div class="form-field">
          <label for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
          <input type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" autocomplete="name" required>
        </div>

        <div class="form-field">
          <label for="ContactForm-email">{{ 'templates.contact.form.email' | t }}</label>
          <input type="email" id="ContactForm-email" name="contact[email]" autocomplete="email" required>
        </div>

        <div class="form-field">
          <label for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
          <input type="tel" id="ContactForm-phone" name="contact[{{ 'templates.contact.form.phone' | t }}]" autocomplete="tel">
        </div>

        <div class="form-field">
          <label for="ContactForm-body">{{ 'templates.contact.form.comment' | t }}</label>
          <textarea id="ContactForm-body" name="contact[body]" required></textarea>
        </div>

        <button type="submit" class="btn btn--primary">{{ 'templates.contact.form.send' | t }}</button>
      {%- endform -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Contact form",
  "presets": [
    {
      "name": "Contact form"
    }
  ]
}
{% endschema %}
