<div class="page-width">

  <header class="section-header text-center">
    <nav>      
      {% for link in linklists["contact-menu"].links %}
      	<a {% if link.active %}disabled{% endif %} class="btn btn--secondary" href="{{ link.url }}">{{ link.title }}</a>
      {% endfor %}
    </nav>
  </header>

  <div class="grid">
    <div class="grid__item medium-up--four-fifths medium-up--push-one-tenth">
      
      <h1 class="section-header__title h2">{{ page.title }}</h1>
      
      <br />

      {% if page.content != blank %}
        <div class="rte rte--contact">
          {{ page.content }}
        </div>
      {% endif %}

      {% form 'contact' %}
        {% if form.posted_successfully? %}
          <p class="form-success">
            {{ 'contact.form.post_success' | t }}
          </p>
        {% endif %}

        {{ form.errors | default_errors }}

      <h4>Tell us about you and your establishment</h4>	
        <div class="grid">
          <div class="grid__item medium-up--one-half">
            <label for="ContactFormBusinessName" class="label--hidden">{{ 'contact.form.business_name' | t }}</label>
            <input type="text" id="ContactFormBusinessName" name="contact[{{ 'contact.form.business_name' | t }}]" placeholder="{{ 'contact.form.business_name' | t }}" autocapitalize="words" value="{% if form[business_name] %}{{ form[business_name] }}{% elsif customer %}{{ customer.business }}{% endif %}">
          </div>
          <div class="grid__item medium-up--one-half">
            <label for="ContactFormName" class="label--hidden">{{ 'contact.form.representative_name' | t }}</label>
            <input type="text" id="ContactFormName" name="contact[{{ 'contact.form.representative_name' | t }}]" placeholder="{{ 'contact.form.representative_name' | t }}" autocapitalize="words" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
          </div>
          <div class="grid__item medium-up--one-third">
            <label for="ContactFormAddress" class="label--hidden">{{ 'contact.form.address' | t }}</label>
            <input type="text" id="ContactFormAddress" name="contact[{{ 'contact.form.address' | t }}]" placeholder="{{ 'contact.form.address' | t }}" autocapitalize="words" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
          </div>
          <div class="grid__item medium-up--one-third">
            <label for="ContactFormCity" class="label--hidden">{{ 'contact.form.city' | t }}</label>
            <input type="text" id="ContactFormCity" name="contact[{{ 'contact.form.city' | t }}]" placeholder="{{ 'contact.form.city' | t }}" autocapitalize="words" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
          </div>
          <div class="grid__item medium-up--one-third">
            <label for="ContactFormState" class="label--hidden">{{ 'contact.form.state' | t }}</label>
            <input type="text" id="ContactFormState" name="contact[{{ 'contact.form.state' | t }}]" placeholder="{{ 'contact.form.state' | t }}" autocapitalize="words" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
          </div>
          <div class="grid__item medium-up--one-half">
            <label for="ContactFormEmail" class="label--hidden">{{ 'contact.form.email' | t }}</label>
            <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
          </div>
          <div class="grid__item medium-up--one-half">
            <label for="ContactFormPhone" class="label--hidden">{{ 'contact.form.phone' | t }}</label>
            <input type="tel" id="ContactFormPhone" name="contact[{{ 'contact.form.phone' | t }}]" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
          </div>
        </div>
      
      <h4>Which type of pieces are you interested in?</h4>
      	<div class="grid">
          <div class="grid__item medium-up--one-third">
            <label><input type="checkbox" name="contact[batman]" value="cactus" /> Batman</label>
          </div>
          <div class="grid__item medium-up--one-third">
            <label><input type="checkbox" name="contact[cactus]" value="cactus" /> The Desert</label>
          </div>
          <div class="grid__item medium-up--one-third">
            <label><input type="checkbox" name="contact[portraits]" value="portraits" /> Portraits</label>
          </div>
          <div class="grid__item medium-up--one-third">
            <label><input type="checkbox" name="contact[fish]" value="fish" /> Fish</label>
          </div>
          <div class="grid__item medium-up--one-third">
            <label><input type="checkbox" name="contact[abstract]" value="abstract" /> Abstract</label>
          </div>
          <div class="grid__item medium-up--one-third">
            <label><input type="checkbox" name="contact[buildings]" value="buildings" /> Buildings</label>
          </div>
          <div class="grid__item medium-up--one-third">
            <label><input type="checkbox" name="contact[sailboats]" value="sailboats" /> Sailboats</label>
          </div>
        </div>
        
      <h4>Anything else we should know?</h4>
        <label for="ContactFormMessage" class="label--hidden">{{ 'contact.form.message' | t }}</label>
        <textarea rows="6" id="ContactFormMessage" name="contact[{{ 'contact.form.message' | t }}]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>

        <input type="submit" class="btn" value="{{ 'contact.form.send' | t }}">
      {% endform %}
    </div>
  </div>
</div>
